 body
 {
	 background-color:#00468C;
 }
 
 h1
 {
	 color:#FFFFFF;
	 padding-left:30px;
	 font-family:Cambria;
	 font-size:62px;
	 text-shadow:0 0 0 rgba(0,0,0,1);
	 
 }
 
 div.header
 {
	height:100px;
	width:100%;
	background-image:url('../View/Images/Header.jpg');
	padding-bottom:20px;
	background-size:100%;
	

 }
 
 
 input.search
 {
	padding:8px 15px;
    border:0px solid #dbdbdb;
	border-radius:10px 0px 0px 10px;
 }
 
 table.header
 {
	padding-top:10px;
	width:100%;
 }
 
 td.search
 {
	 text-align:right;
 }
 
 input.searchbutton
 {
	position:relative;
    padding:6px 15px;
    left:-8px;
    border:0px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
	border-radius:0px 10px 10px 0px;
	transition:200ms;
	height:32px;
 }
 input.searchbutton:hover{
	 background-color:#666;
 }
 
 div.chest{
	 width:100%;
	 height:350px;
	 background:linear-gradient(to top,#AAAAAA,#BBBBBB,#CCCCCC);
	 margin-left:auto;
	 margin-right:auto;
	 padding-top:10px;
 }
 
 * {margin:0; padding:0;}
 
 div.footer{
	 width:100%;
	 height:150px;
	 background-color:#53bd84;

 }
 
div.footer2{
	  width:100%;
	 height:100px;
	 background-color:#666;
 }
 
 p.copyright{
	color:#FFF;
	font-family:calibri;
	position:relative;
	top:10px;
	font-size:16px;
	text-align:center;
 }
 
.footer ul {
	transition: 300ms;
	list-style:none;
 }
.footer ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px;
	text-align:left; 
	width:160px;
}
.footer ul li a {
	transition: 300ms;
	float:left; 
	width:110px;  
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
}

.footer {
	background-color:#53bd84; 
	height:40px; 
	line-height:50px; 
	width:100%;
	margin:auto;
	font-family:calibri;
}

.footer ul {
	position:relative;
	padding-left:auto;
	padding-right:auto;
}

.search,.searchbutton {
	position:relative;
}

div.form {
	height:260px;
	width:60%;
	background-color:#FFF;
	position:relative;
	top:20px;
	margin:auto;
	border-radius:5px;
	border:solid 1px #A8A8B7;
	color:#868695;
	font-size:16px;
}



h3 {
	margin-left:15px;
	margin-top	:20px;
	margin-bottom:5px;
	color:#333333;
}

hr {
	margin-left:15px;
	margin-right:15px;
}

table.form {
	margin:auto;
	padding-top:30px;
}

input {
	width:180px;
	height:20px;
	border:solid 1px #868695;
}

td {
	padding-top:5px;
	padding-left:10px;
}

button {
	width:60px;
	height:30px;
	border:solid 1px #868695;
	background:linear-gradient(to bottom,#78CB9C,#3DA068);
	font-family:calibri;
	color:#FFF;
	font-size:16px;
	margin-top:10px;
}

