div.paging{
padding :2px;
margin :2px;
font-family :Tahoma;
font-size :12px;
margin-top :30px;
margin-left:40px;
}
div.paging a{
padding :2px 5px 2px 5px;
margin-right :2px;
border :1px solid #660000;
text-decoration: none;
color :white;
}
div.paging a:hover{
border :2px solid white;
text-decoration: none;
color :#000000;
background-color :#FFFF80;
}
div.paging span.current{
padding :2px 5px 2px 5px;
margin-right :2px;
border :1px solid navy;
font-weight :bold;
color :#FFFFFF;
background-color :#B30000;
}
div.paging span.disabled{
padding :2px 5px 2px 5px;
margin-right :2px;
border :1px solid #999999;
color :#999999;
}
div.paging span.prevnext{
font-weight :bold;
}